
h1 {
    color: rgb(255, 255, 255);
    margin-left: 2%;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

p {
    margin-right: 2%;
    margin-left: 2%;
    font-size: 18px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1563365488-1e365499ba88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10%;
    margin-left: 10%;
    font-family: monospace;
    color: rgb(255, 255, 255);
}

.koguleht {
    background-color: rgba(71, 71, 71, 0.733);
    opacity: 95%;
    margin-left: 20%;
    margin-right: 20%;
}
div.menüü{
    position: relative;
    margin:auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(83, 83, 83);
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    float:left;
    padding: 0px 20px 0px;
}
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(121, 121, 121);
}

#kvollkäes {
    width: auto;
    height: auto;
}